.about-banner {
  border-top: 5px solid lightgreen;
}

.about-banner h1 {
  text-align: center;
  margin: 0;
  padding: 3% 0;
  color: cyan;
  text-shadow: 2px 2px black;
  background-image: url(/public/images/display-trio.jpg);
  background-size: cover;
}


.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding: 40px 0;
  margin: 2% 0 50px;
  height: 500px;
}

.about-image {
  width: 42.5%;
  height: 100%;
  max-width: 600px;
  margin: 1.5%;
  box-sizing: border-box;
  object-fit: cover;
  border: 3px solid darkslategrey;
}

.about-content {
  width: 42.5%;
  height: 100%;
  max-width: 600px;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
}

.about-content h3 {
  margin: 1.5% 0 2.5%;
  text-decoration: underline;
}

.about-content p {
  margin: 6px 0;
}

.final-message {
  padding: 1.5% 4%;
  margin: 5% auto 1.5%;
  max-width: 1200px;
  text-align: center;
  font-size: 1.2rem;
  border-left: 3px solid cyan;
  border-right: 3px solid cyan;
  border-radius: 10px;
  background-color: rgba(0, 255, 0, 0.356);
}

@media only screen and (max-width: 1300px) {
  .about-image {
    width: 30%
  }

  .about-content {
    width: 55%
  }
}

@media only screen and (max-width: 1000px) {
  .about-card {
    flex-direction: column;
    justify-content: start;
    max-height: 1000px;
    height: auto;
  }

  .column-reversal {
    flex-direction: column-reverse;
  }

  .about-content, .about-image {
    width: 85%;
  }
  
  .about-content p {
    font-size: 12px;
  }

  .about-image {
    height: 300px;

  }

  #profile-img {
    object-position: top;
    height: 300px;
  }
}

@media only screen and (max-width: 760px) { 
  .about-content p {
    font-size: 12px;
  }

  .final-message {
    font-size: 0.7rem;
  }
}

