main {
  background-color: rgb(229, 229, 229);
  padding-bottom: 30px;
  justify-content: center;
}

.landing-banner {
  height: 700px;
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  background-image: url(../../../public/images/display-trio-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 60%;
  border-bottom: 5px solid cyan;
  align-items: center;
}

.landing-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  top: 8rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-title {
  border-radius: 40px;
  color: rgb(0, 255, 255);
  opacity: 1;
  z-index: 10;
  width: 90%;
  margin: 5%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: black 2px 2px;
}

.banner-title h1 {
  font-size: 6rem;
  margin: 15px 0;
}

.banner-title h2 {
  font-size: 2rem;
  color: rgb(229, 229, 229);
}

.microgreens-container {
  display: flex;
  width: 90%;
  padding: 60px 5%;
  margin: 70px 0 0;
  justify-content: center;
  background-color: lightgreen;
}

.microgreens-container img {
  width: 45%;
  max-width: 650px;
  border: solid cyan 3px;
  border-radius: 5px;
}

.microgreens-content {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  padding-right: 50px;
  font-size: 1.2rem;
}

.microgreens-content .button {
  margin: 10px auto;
  margin-top: 30px;
  padding: 10px;
  font-size: 1rem;
  background-color: cyan;
  border: 2px solid darkslategrey;
  border-radius: 8px;
  justify-self: center;
  text-align: center;
}

@media only screen and (max-width: 1050px) { 
  .landing-banner, .landing-banner::before {
    height: 500px;
  }

  .banner-title h1 {
    font-size: 3rem;
  }

  .banner-title h2 {
    font-size: 1rem
  }

  .microgreens-container {
    height: 350px;
  }

  .microgreens-content p {
    font-size: 0.9rem;
    margin: 0;
  }

  .microgreens-content .button {
    margin-top: 20px;
    width: 30%;
  }

  .microgreens-container img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 810px) { 
  .landing-banner, .landing-banner::before {
    height: 350px;
  }

  .microgreens-content .button {
    margin-top: 10px;
    width: 30%;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 700px) { 
  .microgreens-container {
    flex-direction: column-reverse;
    height: auto;
    padding: 40px 5%;
  }

  .microgreens-content {
    padding: 0;
  }
  .microgreens-container img {
    width: 100%;
    height: 250px;
  }
}